*{
    /* margin:0; */
    /* padding-left:50px;
    padding-right:25px;    border: solid 10px red; */

}
h1 {
    background-color: red;
    color: black;

}
html{
    background-color:red;
    color:black;

}
h2 {
    background-color:red;
    color: black;
}
h3{
    background-color: red;
    color:black;
}

p {
    background-color: red;
    color: black;
}
ul{
    color: chartreuse
}
li{
    color: red
}
.aquify{
    background-color: aqua;
}
.tomatify{
    background-color: tomato;
}
.greenify{
    background-color: green;
}
#content{
   background-color: red; 
}
}
ul li:first-child {
    margin-right: 50px;
}
ul li:last-child {
    background: black;
}
figure ~ 0 {
    background: :red
}
figure + 0 {
    background: red;
}

.aquify{
    background-color: aqua;
}
.container{
    marigin: 10px auto;
    width: 900px;
}
.tomatify{
    background-color: tomato;
}
.greenify{
    background-color: green;
}
#content{
   background-color: red; 
}